$color-btn: #0e1225; //font
$color-white: #ffffff; //main and btn font
$color-second: #f2f3f7; // bg and accents
$color-border: rgb(230, 230, 230);

$radius-main: 1rem;
$radius-circle: 50%;

$font-max: 4rem;
$font-mid: 3rem;
$font-reg: 2rem;
$font-min: 1rem;

$weight-light: 200;
$weight-regular: 400;
$weight-medium: 500;
